MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=espodb
MYSQL_USER=espouser
MYSQL_PASSWORD=password123

ESPOCRM_DATABASE_HOST=db
ESPOCRM_DATABASE_USER=espouser
ESPOCRM_DATABASE_PASSWORD=password123
ESPOCRM_DATABASE_NAME=espodb

CRM_URL=http://espocrm